* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin-top: 10px;
}
button {
  height: 40px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}
select {
  height: 40px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}
.inner {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.game {
  height: 350px;
  width: 600px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 10px;
  position: absolute;
}
.game2 {
  height: 330px;
  width: 600px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 370px;
  position: absolute;
}
.score {
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.ball {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: green;
  position: relative;
  transition: 1s transform;
  display: none;
 }
 .selekt1 {
  transition: 1s transform;
 }
 .selekt2 {
  transition: 0.1s transform;
 }
 .ball2 {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: green;
  position: relative;
  display: none;
 }
 .skill {
  position: relative;
  left: 400px;
 }
 .color {
  background: red;
 }
 .scorelevel {
  height: 25px;
  width: 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
 }
//  @keyframes topmove {
//   0% { top: 0; left: 0; }
//   30% { top: 50px; }
//   68% { left: 50px; }
//   100% { top: 100px; left: 100%; }
// }
